<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" th:href="@{/css/index.css}">
</head>
<body>
<div class="header">
    <h1>Istanbul</h1>
</div>
<div class="row">
    <div class="col-3 col-s-3 menu">
        <ul>
            <li><a href="/form">Go To The Form</a></li>
            <li><a href="/list">List All Submitted Cities and Districts</a></li>
            <li>The Flight</li>
            <li>The City</li>
            <li>The Food</li>
        </ul>
    </div>
    <div class="col-6 col-s-9">
        <p>Istanbul, historically known as Byzantium and Constantinople, is the largest city in Turkey and the country's economic, cultural and historic center. The city straddles the Bosphorus strait, and lies in both Europe and Asia, with a population of over 15 million residents, comprising 19% of the population of Turkey. Istanbul is the most populous city in Europe,[b] and the world's fifteenth-largest city.

            Founded as Byzantion by Megarian colonists in 660 BCE, and renamed as Constantinople in 330 CE, the city grew in size and influence, becoming a beacon of the Silk Road and one of the most important cities in history. It served as an imperial capital for almost sixteen centuries, during the Roman/Byzantine (330–1204), Latin (1204–1261), Byzantine (1261–1453), and Ottoman (1453–1922) empires. It was instrumental in the advancement of Christianity during Roman and Byzantine times, before its transformation to an Islamic stronghold following the Fall of Constantinople in 1453 CE.[11] In 1923, after the Turkish War of Independence, Ankara replaced the city as the capital of the newly formed Republic of Turkey. In 1930 the city's name was officially changed to Istanbul, an appellation Greek speakers used since the eleventh century to colloquially refer to the city.[12]

            Over 13.4 million foreign visitors came to Istanbul in 2018, eight years after it was named a European Capital of Culture, making the city the world's fifth-most popular tourist destination.[13] Istanbul is home to several UNESCO World Heritage Sites, and hosts the headquarters of numerous Turkish companies, accounting for more than thirty percent of the country's economy</p>
    </div>
</body>
</html>
